@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  box-sizing: border-box;
  background-color:rgba(0,0,20,0.8);
  margin: unset;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

section {
  background-color: inherit;
  padding: 40px 40px;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  opacity: 0.9;
  vertical-align: baseline;
}

section:nth-child(odd) {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: relative;
}

h1, h2 {
  font-family: 'Nanum Gothic', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  margin: 1rem auto;
}


form{margin-bottom: unset;}

footer {
  background-color: inherit;
  padding: 3rem auto;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  opacity: 0.9;
  vertical-align: baseline;
  text-align:center;
}

h1{
  font-size:2.5rem;
  font-weight:bold;
}

h2 {
  font-size: 2rem;
}

hr {
  width: 50%;
  max-width: 400px;
  height: 1px;
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-width: 0px;
  border-bottom: 1px dashed #7362df;
}


a {
  width: fit-content;
  text-decoration: none;
  transition: text-shadow 500ms ease;
}

a:hover {
  text-shadow: 2px 2px #7362df;
}

p {
  font-size: 24px;
}

h3, h4, p {
  max-width: 600px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px auto;
  font-family: 'Advent Pro', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
  #mvptext {
text-align:center;  }

#text {
  color: rgba(255, 255, 255, 0.9);
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Advent Pro', sans-serif;
  transition: text-shadow 500ms ease;
}

#text:hover {
  text-shadow: 2px 2px #7362df;
}
#donate {
  background: none;
  border: none;
  margin:auto 8px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Advent Pro', sans-serif;
  transition: text-shadow 500ms ease;
  color:#c7d5fd;
}
.purchase-button{
  background: none;
  border: none;
  margin:auto 8px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Advent Pro', sans-serif;
  transition: text-shadow 500ms ease;
  border-radius:4px;
border:2px solid #7362df; color:#7362df;}

#donate:hover {
  text-shadow: 2px 2px #7362df;
}

#mvpimg {
  margin: auto;
  width: 64px;
}
.event-cover-img{
    height: auto;
    width: 100%;}
.centerbox {
  width: 100%;
  max-width: 600px;
  margin: auto auto;
}

.underlined {
  border-bottom: 2px dashed #7362df;
}

.leftmenu {
  margin: auto auto;
  width: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.rightmenu {
  margin: auto auto;
  width: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.rightmenu h2{
  font-size:1.5rem;
  font-weight:bold;
}

.menuitem {
  margin: auto 16px;
  font-family: 'Advent Pro', sans-serif;
color:#c7d5fd;

}

.logo {
  margin: 4px 4px;
  display: flex;
  flex-flow: column;
}

.maxxed {
  margin: 0px auto;
  max-width: 600px;
}

.jump:hover {
  animation: jump 1s ease infinite;
}

.flex-col {
  flex-flow: column;
}

.flex-row {
  flex-flow: row;
  padding: 1rem 0rem;

}

.icon {
  transition: opacity 500ms, box-shadow 500ms ease;
  opacity: 0.5;
}

.icon:hover {
  opacity: 0.9;
}

.invert {
  filter: invert(1);
}

.flex-cen {
  display: flex;
  justify-content: center;
}

.flex-ar {
  display: flex;
  justify-content: space-around;
}

.links {
  margin: 16px auto;
}

.event {
  margin-top: 32px;
  margin-bottom: 32px;
}

.event-img {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.event-img-wrapper{
  max-height:200px;
  display:flex;
  flex-flow:column;
  justify-content:center;
  overflow:hidden;}

.icont {
  width: 100%;
  height: 1100px;
}
.event-cover-image{max-width:100%;}
.full {
  overflow: hidden;
  -moz-overflow: hidden;
  max-height: 80vh;
  background-image: url(fog2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.white {
  color: rgba(255, 255, 255, 0.9);
}

.event-desc {
  border: 2px dotted #7362df;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 32px;
  padding: 4px;
}

.button {
  margin: 8px 4px;
  padding: 8px;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.9);
  transition: opacity 500ms, background-color 500ms, box-shadow 500ms, text-shadow 500ms ease;
}

.button:hover {
  opacity: 1;
  box-shadow: 2px 2px #7362df;
  text-shadow: 2px 2px #7362df;
  background-color: #7362df;
}

.button-md {
  margin: 8px auto;
  padding: 4px 4px;
  border-radius: 8px;
  max-width: 256px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  transition: opacity 500ms, background-color 500ms, box-shadow 500ms, text-shadow 500ms ease;
}

.button-md:hover {
  opacity: 1;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px #7362df;
  background-color: #7362df;
}

.button-lg {
  margin: 8px 4px;
  padding: 8px 16px;
  border-radius: 64px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  transition: opacity 500ms, background-color 500ms, box-shadow 500ms, text-shadow 500ms ease;
}

.button-lg:hover {
  opacity: 1;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px #7362df;
  background-color: #7362df;
}

.auto-margin {
  margin: 0px auto;
}

.shadow {
  text-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
}

.l-shadow {
  text-shadow: 2px 5px 12px rgba(0, 0, 0, 0.2);
}

.purple {
  color: #7362df;
}

.b {
  font-weight: 700;
}

.m {
  font-weight: 600;
}

.centered {
  text-align: center;
}

.rightalign {
  text-align: right;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-2px);
  }

  40% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hero-lg {
  background-image: url(fog1.jpg);
  background-color: #555458;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 0px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 600px;
  max-height: 75%;
  text-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
}

.hero-md-3 {
  background-image: url(fog2.jpg);
  background-color: #555458;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 40px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 400px;
  max-height: 50%;
}

.hero-md-2 {
  background-image: url(fog1.jpg);
  background-color: #555458;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 40px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 400px;
  max-height: 50%;
}

.hero-md {
  background-image: url(fog3.jpg);
  background-color: #555458;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 40px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 400px;
  max-height: 50%;
}

.story-1 {
  background-image: url(mickey.jpg);
  background-color: #555458;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-blend-mode: screen;
  padding: 40px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 600px;
  max-height: 50%;
}

.story-2 {
  background-image: url(fam.jpg);
  background-color: #555458;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-blend-mode: screen;
  padding: 40px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 600px;
  max-height: 50%;
}

.story-3 {
  background-image: url(mickeyoung.jpg);
  background-color: #555458;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-blend-mode: screen;
  padding: 40px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 600px;
  max-height: 50%;
}

.right-b {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.left-b {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.left {
  margin: 8px 4px;
  text-align: left;
}

.desc-lg {
  background-image: url(fog2.jpg);
  background-color: #555458;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 40px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 600px;
  max-height: 75%;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #555458;
}

::-webkit-scrollbar-thumb {
  background: #7362df;
}

::-webkit-scrollbar-corner {
  background: #555458;
}

@media screen and (max-width:100vh) {
  .leftmenu {
    margin: auto auto;
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .rightmenu {
    margin: auto auto;
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  .rightmenu h2{
    text-align:center;
  }

  .menuitem {
    font-size: 32px;
  }

  #mvptext {
    display: none;
  }

  .logo {
    width: 64px;
    margin: auto
  }

  #mvpimg {
    margin: 4px auto;
    width: 64px;
  }

  body {
    overflow: auto;
  }

  section {
    padding: 16px 8px;
  }
}

@media screen and (min-width:900px) {
  h1 {
    font-size: 72px;
  }
}

@media screen and (max-width:500px) {
  .flex-row {
    flex-flow: row;
    justify-content: center;
    padding: 1rem 0rem;
  }
  .rightmenu{flex-flow:column;}

  .right-b {
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
  }
h2{font-size:1.5rem;}
  .left-b {
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
  }
  .rightmenu h2{font-size:1.5rem;}
  .flex-row{flex-flow:wrap;justify-content: space-around;}
}

@media screen and (max-width:340px) {
  .leftmenu {
    margin: auto auto;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .rightmenu {
    margin: auto auto;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
